<section id="{{ include.section.section_id }}" class="block">
  <h2 class="block-title underline">While Blogging</h2>
 {% assign display_posts = '/posts' | get_pages | sort: 'date' | reverse %}
    {% assign recent_posts = display_posts | slice: 0, 1 %}
  <h2 class="block-title underline">While Gaming</h2>
  {% assign display-gaming = '/gaming' | get_pages | sort: 'date' | reverse %}
  {% assign recent-gaming = display-gaming | slice: 0, 1 %}
  {% for game in recent-gaming %}
    <div class=review>
      <a class="post-thumbnail" href="/gaming">
      <img src="{{ game.image | relative_url }}" >
      </a>
      <p>
        <line><a href="/gaming"><b style="font-size:18px;">{{ game.game }}</b></a></line>
        <line><i> {{ game.date | date: "%B %-d, %Y" }}</i> </line>
        <line>{{ game.opinion }}</line>
      </p>
    </div>
  {% endfor %}
  <p class="block-cta-center">
    <a href="/gaming" class="button">see more</a>
  </p>
  
  <h2 class="block-title underline">While Reading</h2>
  {% assign display-reading = '/reading' | get_pages | sort: 'date' | reverse %}
  {% assign recent-reading = display-reading | slice: 0, 1 %}
  {% for game in recent-reading  %}
    <div class=review>
      
      <a class="post-thumbnail" href="/reading">
      <img src="{{ game.image | relative_url }}" >
      </a>
      <p>        
        <line><a href="/reading"><b style="font-size:18px;">{{ game.book }}</b></a></line>
        <line><i> {{ game.date | date: "%B %-d, %Y" }}</i></line>
        <line>{{ game.opinion }}</line>
      </p>
    </div>
  {% endfor %}
 
  <p class="block-cta-center">
    <a href="/reading" class="button">see more</a>
  </p>
  
  <h2 class="block-title underline">While Coding</h2>
  {% assign display-coding = '/coding' | get_pages | sort: 'date' | reverse %}
  {% assign recent-coding = display-coding | slice: 0, 1 %}
  {% for game in recent-coding  %}
    <div class=review>
      
      <a class="post-thumbnail" href="/coding">
      <img src="{{ game.image | relative_url }}" >
      </a>
      <p>        
        <line><a href="/coding"><b style="font-size:18px;">{{ game.title }}</b></a></line>
        <line><i> {{ game.date | date: "%B %-d, %Y" }}</i></line>
        <line>{{ game.opinion }}</line>
      </p>
    </div>
  {% endfor %}
 
  <p class="block-cta-center">
    <a href="/coding" class="button">see more</a>
  </p>
  {% for post in recent_posts  %}
    <div class=review>
      <a class="post-thumbnail" href="{{ post.url | relative_url }}">
      <img src="{{ post.thumb_img_path | relative_url }}" >
      </a>
      <p>        
        <line><a href="{{ post.url | relative_url }}" rel="bookmark"><b style="font-size:18px;">{{ post.title }}</b></a></line>
        <line><i> {{ post.date | date: "%B %-d, %Y" }}</i></line>
        <line>{{ post.subtitle }} <a class="post-thumbnail" href="{{ post.url | relative_url }}">read more</a></line>
      </p>
    </div>
  {% endfor %}
  <p class="block-cta-center">
    <a href="/blog" class="button">see more</a>
  </p>
  
</section><!-- .block -->
