.review {
    padding: 20px;
    overflow: hidden;
}

.review img {
    margin-right: 15px;
    float: left;
    width: 200px;
}

@media screen and (max-width: 480px) {
.review img {
         width: 100px;
    }
}

.review line,
.review p{
    margin-left: 15px;
    display: block;
    margin: 2px 0 0 0;
}
