---
layout: body
---
<h2 class="hero-title">While Coding</h2>
  
  <div class="hero-text">
    <p>Here is where I record my short thoughts from my career in software developement, both the technical and people side of my work.</p>

  </div>
<div>
  {% for game in paginator.posts %}
    <div class=review>
      <img src="{{ game.image | relative_url }}" >
      <p>
        <line><b style="font-size:18px;">{{ game.title }}</b></line>
        <line><i>{{ game.date | date: "%B %-d, %Y" }}</i></line>
        <line>{{ game.opinion }}</line>
      </p>
    </div>
  {% endfor %}

  

{% if paginator.total_pages > 1 %}
<p class="block-cta">
  {% if paginator.previous_page %}
        <a class="button" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="Newer Entries">&larr; Newer Entries</a>
      {% endif %}
  {% if paginator.next_page %}
        <a class="button"  href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="Older Entries">Older Entries &rarr;</a>
      {% endif %}
</p>
{% endif %}
</div>
