---
layout: body
---
<div>
  {% for game in paginator.posts %}
    <div style="display:inline-block;vertical-align:top;margin:30px;max-width:40%">
    <a href="{{ site.url }}/images/{{ game.localImage }}"><img src="{{ site.url }}/images/{{ game.localImage }}" width=200>
      </img></a>
</div>
<div style="display:inline-block;max-width:60%">
  <p>
     <b style="font-size:18px;">{{ game.game }}</b>
    <br><b>Date:</b> {{ game.date | date: "%B %-d, %Y" }}
        <br><b>Players:</b> {{ game.players }}
       <br><b>Position:</b> {{ game.position }}
       <br><i>{{ game.opinion }}</i></p>
   </div>  
<br></br>
  {% endfor %}

{% if paginator.total_pages > 1 %}
<ul>
  {% if paginator.previous_page %}
  <li>
    <a href="{{ paginator.previous_page_path | prepend: site.url }}">Newer</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li>
    <a href="{{ paginator.next_page_path | prepend: site.url }}">Older</a>
  </li>
  {% endif %}
</ul>
{% endif %}
</div>
