---
layout: body
---
<h2 class="hero-title">Game Diary</h2>
  
  <div class="hero-text">
    <p>Originally I was going to record every <a href="/posts/diary">game I played</a> but that proved time consuming. Now I record my plays using <a href="https://www.bgstatsapp.com/">BG Stats</a>. So I’ll use this to highlight specific plays I found particular fun or interesting.</p>

  </div>
<div>
  {% for game in paginator.posts %}
      <div class=review>
         {% if game.localImage %}
      <img src="{{ site.url }}/images/{{ game.localImage }}" >
      {% elsif game.image %}
      <img src="{{ game.image | relative_url }}" >
      {% endif %}
      <p>
         <b style="font-size:18px;">{{ game.game }}</b>
        <b>Date:</b> {{ game.date | date: "%B %-d, %Y" }}
       <b style="font-size:18px;">Impression: </b><i>{{ game.opinion }}</i>
      </p>
    </div>
  {% endfor %}

  

{% if paginator.total_pages > 1 %}
<p class="block-cta">
  {% if paginator.previous_page %}
        <a class="button" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="Newer Entries">&larr; Newer Entries</a>
      {% endif %}
  {% if paginator.next_page %}
        <a class="button"  href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="Older Entries">Older Entries &rarr;</a>
      {% endif %}
</p>
{% endif %}
</div>
