---
layout: body
---
<h2 class="hero-title">Game Diary</h2>
  
  <div class="hero-text">
    <p>Originally I was going to record every <a href="/posts/diary">game I played</a> but that proved time consuming. Now I record my plays using <a href="https://www.bgstatsapp.com/">BG Stats</a>. So I’ll use this to highlight specific plays I found particular fun or interesting.</p>

  </div>
<div>
  {% for game in paginator.posts %}
    <div style="display:inline-block;vertical-align:top;margin:30px;max-width:40%">
      {% if game.localImage %}
    <a href="{{ site.url }}/images/{{ game.localImage }}"><img src="{{ site.url }}/images/{{ game.localImage }}" width=200>
      </img></a>
      {% elseif %}
    <a href="{{ page.content_img_path | relative_url }}"><img src="{{ page.content_img_path | relative_url }}" width=200>
      </img></a>
      {% endif %}
</div>
<div style="display:inline-block;max-width:60%">
  <p>
     <b style="font-size:18px;">{{ game.game }}</b>
    <br><b>Date:</b> {{ game.date | date: "%B %-d, %Y" }}
        <br><b>Players:</b> {{ game.players }}
       <br><b>Position:</b> {{ game.position }}
       <br><i>{{ game.opinion }}</i></p>
   </div>  
<br></br>
  {% endfor %}

  

{% if paginator.total_pages > 1 %}
<p class="block-cta">
  {% if paginator.previous_page %}
        <a class="button" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="Newer Entries">&larr; Newer Entries</a>
      {% endif %}
  {% if paginator.next_page %}
        <a class="button"  href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="Older Entries">Older Entries &rarr;</a>
      {% endif %}
</p>
{% endif %}
</div>
