---
layout: body
---

  <article class="post post-full">
    <header class="post-header">
      <h1 class="post-title underline">{{ page.title }}</h1>
    </header><!-- .post-header -->
    {% assign subtitle_is_not_empty = page.subtitle | is_not_empty %}
    {% if subtitle_is_not_empty %}
    <div class="post-subtitle">
      {{ page.subtitle }}
    </div><!-- .post-subtitle -->
    {% endif %}
    {% assign content_img_path_is_not_empty = page.content_img_path | is_not_empty %}
    {% if content_img_path_is_not_empty %}
    <div class="post-thumbnail">
      <img src="{{ page.content_img_path | relative_url }}" alt="{{ page.title }}" width="500" />
    </div><!-- .post-thumbnail -->
    {% endif %}
    <div class="post-content">
      {{ content }}
    </div><!-- .post-content -->
    <footer class="post-meta">
      <time class="published"
        datetime="{{ page.date | date: '%Y-%m-%d %H:%M' }}">{{ page.date | date: '%A, %B %e, %Y' }}</time>
    </footer><!-- .post-meta -->
  </article><!-- .post -->

  <p class="block-cta">
      {% if page.previous.url %}
      <li class="button">
        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; {{page.previous.title}}</a>
      </li>
      {% endif %}
      {% if page.next.url %}
      <li class="button">
        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">{{page.next.title}} &rarr;</a>
      </li>
      {% endif %}
</p>
