---
layout: body
---
<h2 class="hero-title">While Reading</h2>
  
  <div class="hero-text">
    <p>Here is where I record my one (maybe two) sentence reviews of books I've read. You can find my Goodreads shelf <a href="https://www.goodreads.com/review/list/29214835-aidan?shelf=read">here<a>.</p>

  </div>
<div>
  {% for game in paginator.posts %}
    <div class=review>
      <img src="{{ game.image | relative_url }}" >
      <p>
        <b style="font-size:18px;">Book: </b>{{ game.book }}
        <b>Date:</b> {{ game.date | date: "%B %-d, %Y" }}
        <b style="font-size:18px;">Opinion: </b><i>{{ game.opinion }}</i>
      </p>
    </div>
  {% endfor %}

  

{% if paginator.total_pages > 1 %}
<p class="block-cta">
  {% if paginator.previous_page %}
        <a class="button" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="Newer Entries">&larr; Newer Entries</a>
      {% endif %}
  {% if paginator.next_page %}
        <a class="button"  href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="Older Entries">Older Entries &rarr;</a>
      {% endif %}
</p>
{% endif %}
</div>
